body {
     background-color: cadetblue;
}

h1{
    border-radius: 5px;
    border: 1px solid teal;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}


a:link, a:visited {
    background-color: lightblue;
    color: black;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid teal;
    transition: background-color 2s ease-out, transform 2s ease-out;
}

a:hover, a:active {
    background-color: teal;
    color: lightblue;
    transform: scale(1.1);
}

h1 {
  color: lightblue;
  text-align: center;

}

#about-container {
    text-align: center;
    justify-content: center;

}


.box1 {
    width: 600px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, teal, paleturquoise, turquoise);
}

.h2 {
    border: 2px solid teal;
    display: grid;
}

.p2 {
    position: relative;
    right: -10px;
    border: 2px solid turquoise;
    display: flex;
}

.p2:hover {
    background-color: turquoise;
    transition: background-color 2s ease-out, transform 2s ease-out


}

.img {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.img:hover {
    width: 30%;
    transform: rotate(360deg);
}

.row2 {
    width: 600px;
    height: auto;
    border: 2px solid black;
    padding: 10px;
    background: linear-gradient(to right, teal, paleturquoise, turquoise);
}

.box3 {
    width: 600px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, teal, paleturquoise, turquoise);
}

.h3 {
    border: 2px solid teal;
    display: grid;
}

.p3 {
    position: relative;
    right: -10px;
    border: 2px solid turquoise;
    display: flex;
}

.p3:hover {
    background-color: turquoise;
    transition: background-color 2s ease-out, transform 2s ease-out
}


#row1{
    display: inline-block;
}

#row3 {
    display: inline-block;
}

@media screen and (max-width: 600px){
    body{
        background-color: paleturquoise;
    }
}
