
#contact {
    background-color: #333333;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}

a:link, a:visited {
    background-color: lightslategray;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

#contact a:hover {
    background-color: blanchedalmond;
    color: black;
}

#contact h1 {
    text-align: center;
}

#contact h2 {
    text-align: center;
}

#contact p {
    text-align: center;
}