body{
    background-color: #333333;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}

a:link, a:visited {
    background-color: lightslategray;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

a:hover {
   background-color: blanchedalmond;
   color: black;
    transform: scale(1.1);
}

.container{
    border: 1px solid whitesmoke;
    background-color: lightslategray;
    padding: 10px;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'void main main main main blank'
    'footer footer footer footer footer footer';
    gap: 5px;
}

.container div{
    background-color: #333333;
}
#header{
    grid-area: header;
}

#main{
    grid-area: main;
}
#void{
    grid-area: void;
}

#blank{
    grid-area: blank;
}

#footer{
    grid-area: footer;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}