
#services {
    background-color: peachpuff;
    text-align: center;
    color: grey;
}

h1{
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}

a:link, a:visited {
    background-color: beige;
    color: black;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid silver;
    transition: background-color 2s ease-out, transform 1s ease-out;
}

a:hover, a:active {
    background-color: silver;
    transform: scale(1.1);
}


.container {
    width: 90%;
    margin: 20px auto;
    border: 2px solid #ccc;
    padding: 100px;
}
.col{
    float: left;
    width: 31%;
    padding: 10px;
    background-color: silver;
    border: 2px solid beige;
    margin: 10px;
    border-radius: 10px;
}
.left{
    border: 3px solid beige;
    border-radius: 3px;
    padding: 10px;
    color: peachpuff;
    text-align: center;
}
.right {
    border: 3px solid #FFFDD0;
    border-radius: 3px;
    padding: 10px;
    background-color: #FAF9F6;
}
.clearfix{
    content: "";
    display: block;
    clear: both;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: 1px solid teal ;
    outline: 2px solid honeydew;
    outline-offset: 2px;
    color: black;
    padding: 8px 20px;
    background-color: whitesmoke;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: turquoise;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: inherit;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 2px;
}

/*need to change the item inside*/

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    flex-wrap: wrap;
    border-radius: 5px;
    transition-delay: 1s;
}