
#services {
    background-color: peachpuff;
    text-align: center;
    color: grey;
}

h1{
    border-radius: 5px;
    border: 1px solid silver;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}

a:link, a:visited {
    background-color: beige;
    color: black;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid silver;
    transition: background-color 2s ease-out, transform 1s ease-out;
}

a:hover, a:active {
    background-color: silver;
    transform: scale(1.1);
}


.container {
    width: 90%;
    height: 120px;
    margin: 20px auto;
    border: 2px solid beige;
    padding: 100px;
}

.col{
    float: left;
    width: 41%;
    height: 120%;
    padding: 10px;
    background-color: silver;
    border: 2px solid beige;
    margin: 10px;
    border-radius: 10px;
}
.left{
    border: 3px solid beige;
    border-radius: 3px;
    padding: 10px;
    color: peachpuff;
    text-align: center;
}
.left{
    float: left;
}

.right {
    border: 3px solid #FFFDD0;
    border-radius: 3px;
    padding: 10px;
    background-color: #FAF9F6;
}
.right{
    float: right;
}

.clearfix{
    clear: both;
    display: block;
}

.btn{
    background-color: whitesmoke;
    color: gold;
    text-decoration: none;
    font-weight: 600;
    align-self: center;
    padding: .59em .9em;
    margin-top: auto;
    border-radius: .5rem;
}

.dropbtn{
    background-color: silver;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    align-self: center;
    padding: .50em .9em;
    margin-top: auto;
    border-radius: .5rem;
}


.navbar{
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 16px;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    visibility: hidden;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a:focus{
    display: block;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
    border-radius: 4px;

}
.dropdown:hover .dropdown-content{
    visibility: visible;
    height: 50px;
}

.dropbtn{
    width: 105px;
    height: 48px;
    background: beige;
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove{
    0%   {top: 0px; left: 0px; background: grey;}
    25%  {top: 0px; left: 100px; background: burlywood;}
    50%  {top: 100px; left: 100px; color: #333332; background: peachpuff;}
    75%  {top: 100px; left: 0px; background: bisque;}
    100% {top: 0px; left: 0px; background: silver;}
}

/*.navbar {*/
/*    overflow: hidden;*/
/*    background-color: #333;*/
/*}*/

/*.dropdown .dropbtn {*/
/*    font-size: 16px;*/
/*    border: 1px solid teal ;*/
/*    outline: 2px solid honeydew;*/
/*    outline-offset: 2px;*/
/*    color: black;*/
/*    padding: 8px 20px;*/
/*    background-color: whitesmoke;*/
/*    font-family: inherit;*/
/*    margin: 0;*/
/*    border-radius: 5px;*/
/*    transition: background-color 1s ease-out, transform 1s ease-out;*/
/*}*/

/*.navbar a:hover, .dropdown:hover .dropbtn {*/
/*    background-color: turquoise;*/
/*    transform: scale(1.1);*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: inherit;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 10px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*    text-align: center;*/
/*    flex-wrap: wrap;*/
/*    border-radius: 2px;*/
/*}*/

/*!*need to change the item inside*!*/

/*.dropdown-content a:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*    flex-wrap: wrap;*/
/*    border-radius: 5px;*/
/*    transition-delay: 1s;*/
/*}*/