body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

#main{
    background-image: url("../images/img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background-image: radial-gradient(60% 80% at 20% 20%, rgba(255, 255, 255, 0.3), transparent 60%),
    linear-gradient(135deg, #ffffff 0%, #3c6cdd 100%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    color: grey;
    text-align: center;
}

#main h2{
    text-align: center;
    color: #333332;
}

#main p{
    text-align: center;
    color: #052e2e;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}


a:link, a:visited {
    background-color: lightslategray;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

    a:hover, a:active {
        background-color: teal;
        color: lightblue;
        transform: scale(1.1);
    }

    #about {
        background-color: cadetblue;
    }

    #about h1 {
        color: lightblue;
        text-align: center;

    }


    .box1 {
        width: 600px;
        height: 200px;
        border: 2px solid black;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(to right, teal, paleturquoise, turquoise);

        .h2 {
            border: 2px solid teal;
            display: grid;
        }

        .p2 {
            position: relative;
            right: -10px;
            border: 2px solid turquoise;
            display: flex;
        }

        .p2:hover {
            background-color: turquoise;

        }
    }

    #about .img {
             transition: width 2s, height 2s, background-color 2s, transform 2s;
         }
    #about .img:hover {
        width: 30%;
        transform: rotate(360deg);
    }

    .box2{
        width: 600px;
        height: auto;
        move-to: right;
        border: 2px solid black;
        padding: 10px;
        display: grid;
        justify-content: center;
        background: linear-gradient(to right, teal, paleturquoise, turquoise);
    }

.box3 {
            width: 600px;
            height: 200px;
            border: 2px solid black;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: linear-gradient(to right, teal, paleturquoise, turquoise);

        .h3{
            border: 2px solid teal;
            display: grid;
        }
        .p3{
            position: relative;
            right: -10px;
            border: 2px solid turquoise;
            display: flex;
        }

        .p3:hover{
            background-color: turquoise;

        }
    }

    #services {
        background-color: peachpuff;
        text-align: center;
        color: teal;

        a:link, a:visited {
            background-color: white;
            color: black;

            a:hover, a:active {
                background-color: red;
                color: turquoise;
            }

            .navbar {
                overflow: hidden;
                background-color: #333;
            }
        }

        /*links*/
        .dropdown .dropbtn {
            font-size: 16px;
            border: 1px teal solid;
            outline: 2px solid honeydew;
            outline-offset: 2px;
            color: black;
            padding: 8px 20px;
            background-color: whitesmoke;
            font-family: inherit;
            margin: 0;
            border-radius: 5px;
            transition: background-color 1s ease-out, transform 1s ease-out;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            background-color: turquoise;
            transform: scale(1.1);
        }

        .dropdown-content {
            display: none;
            position: inherit;
            background-color: #f9f9f9;
            min-width: 10px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: center;
            flex-wrap: wrap;
            border-radius: 2px;
        }

        /*need to change the item inside*/
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            flex-wrap: wrap;
            border-radius: 5px;
            transition-delay: 1s;
        }
    }
    #services a:hover {
        background-color: turquoise;
    }

    #contact {
        background-color: #333333;
    }

    #contact a:hover {
        background-color: blanchedalmond;
        color: black;
    }

    #contact h1 {
        text-align: center;
    }

    #contact h2 {
        text-align: center;
    }

    #contact p {
        text-align: center;
    }

#row1{
    display: flex;
}