body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

#main {
    background-image: url("../images/img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-image: radial-gradient(60% 80% at 20% 20%, rgba(255, 255, 255, 0.3), transparent 60%),
    linear-gradient(135deg, #ffffff 0%, #3c6cdd 100%);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    color: grey;
    text-align: center;
}

#main h2 {
    text-align: center;
    color: #333332;
}

#main p {
    text-align: center;
    color: #052e2e;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style-type: none;

}


a:link, a:visited {
    background-color: lightslategray;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 1s ease-out, transform 1s ease-out;
}

a:hover, a:active {
    background-color: teal;
    color: lightblue;
    transform: scale(1.1);
}

a:hover, a:active {
    background-color: #2946f1;
    color: turquoise;
}

#contact {
    background-color: #333333;
}

#contact a:hover {
    background-color: blanchedalmond;
    color: black;
}

#contact h1 {
    text-align: center;
}

#contact h2 {
    text-align: center;
}

#contact p {
    text-align: center;
}
